<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        li {
            margin: 10px 0;
        }
    </style>
{% endblock %}
</head>
<body>
    <div class="container text-center my-5">
        <h1 class="display-4">Recipe Index</h1>
    </div>
    <div class="container">
        {% for category, recipes in recipes.items() %}
            <div class="recipe-container">
                <h2>{{ category|recipe_category_format }}</h2>
                <ul>
                    {% for recipe in recipes %}
                        <li><a href="{{ recipe.slug }}.html">{{ recipe.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
