<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{{ recipe_name }}</title>
    <link rel="stylesheet" type="text/css" href="templates/styles.css">
{% endblock %}
</head>
<body>
    <h1>{{ recipe_name }}</h1>
    <div class="recipe-container">
        <div class="ingredients">
            <h2>Ingrediencie:</h2>
            <ul>
                {% for elem in ingredients %}
                <li>{{ elem }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="instructions">
            <h2>Postup:</h2>
            <ol>
                {% for elem in instructions %}
                <li>{{ elem }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% if notes != None %}
        <div class="notes">
            <h2>Poznámky:</h2>
            <ul>
                {% for elem in notes %}
                <li>{{ elem }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <p><a href="index.html">Back to Recipes</a></p>
</body>
</html>