.recipe-container {
    display: flex;
    flex-direction: row;
}

.ingredients,
.instructions,
.notes {
    flex: 1;
    padding: 20px;
}

.ingredients {
    background-color: #f2f2f2;
}

.notes {
    background-color: #e0e0e0;
}